---
layout: default
---

<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
<div class="wrapper h-25" id="boundry_box">
  <div class="d-flex flex-justify-around">
    <div id="socket_div" class="vertical-2-3-center">
      <svg width="137" height="230" viewBox="0 0 137 230" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect y="10" width="127.397" height="220" rx="15" fill="#9A9286"/>
        <rect width="127.397" height="220" rx="15" fill="#D6CDC0"/>
        <rect x="9.60281" width="127.397" height="220" rx="15" fill="#F4F4EE"/>
        <rect width="31.9" height="49" rx="5" transform="matrix(-1 0 0 1 94.0767 87)" fill="#9A9286"/>
        <ellipse rx="16.9167" ry="24.5" transform="matrix(-1 0 0 1 88.0833 111.5)" fill="#9A9286"/>
        <ellipse rx="18.3667" ry="24.5" transform="matrix(-1 0 0 1 65.3667 111.5)" fill="#9A9286"/>
        <path d="M49.4167 111.5C49.4167 125.031 59.0897 136 69.2333 136C79.377 136 87.6 125.031 87.6 111.5C87.6 97.969 79.377 87 69.2333 87C59.0897 87 49.4167 97.969 49.4167 111.5Z" fill="#9A9286"/>
        <rect x="69.2333" y="88" width="19.3333" height="47" fill="#9A9286"/>
        <path d="M83.1533 127H76.7733V123.19C76.7733 121.428 78.2015 120 79.9633 120C81.7251 120 83.1533 121.428 83.1533 123.19V127Z" fill="#9A9286"/>
        <rect x="85.6667" y="98" width="3.86667" height="14" fill="#9A9286"/>
        <rect x="68.2667" y="96" width="3.86667" height="18" fill="#9A9286"/>
        <rect width="33" height="49" rx="5" transform="matrix(-1 0 0 1 95.7 84)" fill="#FFFFFA"/>
        <ellipse rx="17.5" ry="24.5" transform="matrix(-1 0 0 1 89.5 108.5)" fill="#FFFFFA"/>
        <ellipse rx="19" ry="24.5" transform="matrix(-1 0 0 1 66 108.5)" fill="#D6CDC0"/>
        <path d="M49.5 108.5C49.5 122.031 59.5066 133 70 133C80.4934 133 89 122.031 89 108.5C89 94.969 80.4934 84 70 84C59.5066 84 49.5 94.969 49.5 108.5Z" fill="#FFFFFA"/>
        <rect x="70" y="85" width="20" height="47" fill="#FFFFFA"/>
        <path d="M83.4 124H76.8V120.3C76.8 118.477 78.2774 117 80.1 117C81.9225 117 83.4 118.477 83.4 120.3V124Z" fill="#9C9386"/>
        <rect x="86" y="95" width="4" height="14" fill="#9C9386"/>
        <rect x="68" y="93" width="4" height="18" fill="#9C9386"/>
        <ellipse cx="77" cy="202.5" rx="7.5" ry="7" transform="rotate(-90 77 202.5)" fill="#9A9286"/>
        <rect x="70" y="203" width="5" height="14" rx="1" transform="rotate(-90 70 203)" fill="#9A9286"/>
        <ellipse cx="76.4171" cy="199" rx="6.41711" ry="8" fill="#D6CDC0"/>
        <rect x="75.4144" y="191" width="4.33155" height="16" rx="1" fill="#D6CDC0"/>
        <ellipse cx="78.5829" cy="199" rx="6.41711" ry="8" fill="#FFFFFA"/>
        <rect x="74" y="198" width="10" height="2" fill="#D6CDC0"/>
        <ellipse cx="77" cy="21.5" rx="7.5" ry="7" transform="rotate(-90 77 21.5)" fill="#9A9286"/>
        <rect x="70" y="22" width="5" height="14" rx="1" transform="rotate(-90 70 22)" fill="#9A9286"/>
        <ellipse cx="76.4171" cy="18" rx="6.41711" ry="8" fill="#D6CDC0"/>
        <rect x="75.4144" y="10" width="4.33155" height="16" rx="1" fill="#D6CDC0"/>
        <ellipse cx="78.5829" cy="18" rx="6.41711" ry="8" fill="#FFFFFA"/>
        <rect x="74" y="17" width="10" height="2" fill="#D6CDC0"/>
      </svg>
    </div>

    <div class="vertical-2-3-center">
      <svg id="plug" class='position-absolute' width="87" height="49" viewBox="0 0 87 49" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect y="14" width="29" height="8" rx="3" fill="#C4C4C4"/>
        <rect y="34" x="10" width="29" height="6" rx="3" fill="#C4C4C4"/>
        <rect x="37" width="20" height="49" fill="#D6CDC0"/>
        <ellipse rx="19" ry="24.5" transform="matrix(-1 0 0 1 36 24.5)" fill="#D6CDC0"/>
        <rect width="30" height="49" rx="5" transform="matrix(-1 0 0 1 75 0)" fill="#F4F4EE"/>
        <ellipse rx="17.5" ry="24.5" transform="matrix(-1 0 0 1 69 24.5)" fill="#F4F4EE"/>
        <path d="M29 24.5C29 38.031 39.0066 49 49.5 49C59.9934 49 68.5 38.031 68.5 24.5C68.5 10.969 59.9934 0 49.5 0C39.0066 0 29 10.969 29 24.5Z" fill="#F4F4EE"/>
      </svg>
    </div>
    <div class="vertical-2-3-center">
      <svg id="cord_svg" class="position-absolute pointer-events-none">
        <path id="cord" d="M0 0" stroke="#D6CDC0" stroke-width="4" stroke-linecap="round" fill="transparent"></path>
        <line x1="0" y1="0" x2="0" y2="0" id="cord_shadow" stroke="#9A9286" stroke-width="5" stroke-linecap="round" fill="transparent"></line>
      </svg>
    </div>
  </div>
</div>

<script>

  //get cord end div
  var cord_end_div = $("#cord_end");

  // initialize a plug object
  function plug_object(plug_offset_x, plug_offset_y, plug_element, cord_svg_id, cord_element_id, cord_shadow_id, play_area_floor, play_area_ceil, play_area_wall_left, play_area_wall_right) {
    this.is_plugged_in = false;
    this.is_holding = false;
    this.is_hovering = false;
    this.plug_x = 0;
    this.plug_y = 0;
    this.plug_offset_x = plug_offset_x;
    this.plug_offset_y = plug_offset_y;
    this.cord_offset_min = 100;
    this.cord_offset_max = 200;
    this.cord_shadow_offset = 50;
    this.play_area_floor = play_area_floor;
    this.play_area_ceil = play_area_ceil;
    this.play_area_wall_left = play_area_wall_left;
    this.play_area_wall_right = play_area_wall_right;
    this.gravity = 0.1;
    this.plug_element = $("#" + plug_element);
    this.cord_element = $("#" + cord_element_id)
    this.cord_svg = $("#" + cord_svg_id)
    this.cord_shadow_element = $("#" + cord_shadow_id)
    this.socket_offset_from_center_y = 32;
    this.socket_offset_from_wall_left_x = 0;
    this.socket_hitbox_size = 5;
    this.socket_hitbox_x = 0;
    this.socket_hitbox_y = 0;
    this.socket_x = 0;
    this.socket_y = 0;
    this.cord_svg_border_size = 5;

    // function to encapsulate all plug movement logic
    this.move_plug = function (new_x, new_y) {
      this.update_plug_position(new_x, new_y)
      //this.check_if_touching_socket();
      this.check_plug_collision();
      this.update_plug_element_position();
      this.update_cord();
    }

    // function to update the x and y of the plug
    this.update_plug_position = function (newX, newY) {
      this.plug_x = newX - this.plug_offset_x;
      this.plug_y = newY - this.plug_offset_y;
    }

    // update the position of the SVG representing the plug with the plug objects x and y
    this.update_plug_element_position = function () {
      this.plug_element.css({left: this.plug_x + 'px', top: this.plug_y + 'px'});
    }

    // function to update cord position
    this.update_cord = function() {

      // move the svg element
      this.cord_svg.css({left: this.play_area_wall_left, top: this.play_area_ceil});

      // resize the svg element to match the bounding box
      this.cord_svg.attr('width', this.play_area_wall_right - this.play_area_wall_left + this.cord_svg_border_size + "px");
      this.cord_svg.attr('height', this.play_area_floor - this.play_area_ceil + this.cord_svg_border_size + "px");

      // calculate the end point and start point coordinates
      var cord_end_x = this.play_area_wall_right - this.play_area_wall_left;
      var cord_end_y = this.get_play_area_center_y();

      var cord_start_x = (this.plug_x + this.plug_offset_x) - this.play_area_wall_left;
      var cord_start_y = (this.plug_y + this.plug_offset_y) - this.play_area_ceil;

      // calculate the curve for the path
      var curve = this.calc_curve(cord_start_x, cord_start_y, cord_end_x, cord_end_y, cord_end_x);

      // draw the shadow element
      this.draw_shadow(cord_start_x, cord_end_x);

      this.cord_element.attr("d", curve)
    }

    // update the boundries of the play area
    this.update_play_area = function () {
      this.play_area_floor = $('#boundry_box').offset().top + $('#boundry_box').outerHeight(true);
      this.play_area_ceil = $('#boundry_box').offset().top;
      this.play_area_wall_left = $('#socket_div').offset().left + $('#socket_div').outerWidth()/2;
      this.play_area_wall_right = $('#boundry_box').offset().left + $('#boundry_box').outerWidth(true);
    }

    // check if the plug is in the socket hitbox
    this.check_if_touching_socket = function () {
      this.update_socket_position();
      var socket_hitbox_y_lower = (this.socket_hitbox_y) - this.socket_hitbox_size;
      var socket_hitbox_y_upper = (this.socket_hitbox_y) + this.socket_hitbox_size;
      var socket_hitbox_x_right = this.socket_hitbox_x + this.socket_hitbox_size;

      // if the plug is in range of the socket, set the plug position to equal the socket position, set is_plugged_in to true
      if (this.plug_x <= socket_hitbox_x_right && this.plug_y >= socket_hitbox_y_lower && this.plug_y <= socket_hitbox_y_upper) {
        this.is_plugged_in = true;
        this.move_plug(this.socket_x, this.socket_y);
      }
    }

    // check if the plug is colliding with any of the play area boundries
    this.check_plug_collision = function () {
      if (this.is_plugged_in == false) {
        this.check_hit_floor();
        this.check_hit_ceil();
        this.check_hit_wall_left();
        this.check_hit_wall_right();

        var socket_hitbox_y_lower = (this.socket_y) - this.socket_hitbox_size;
        var socket_hitbox_y_upper = (this.socket_y) + this.socket_hitbox_size;

        if (this.plug_y <= socket_hitbox_y_upper && this.plug_y >= socket_hitbox_y_lower && this.plug_x == this.play_area_wall_left) {
          this.is_plugged_in = true;
        }
      } else {
        this.plug_y = this.socket_y;
        this.check_hit_socket();
        this.check_hit_wall_right();
        // checks if the plug is pulled out far enough (if plug_x exceeds the left wall by 1 or more units)
        if (this.plug_y == this.socket_y && this.plug_x >= this.play_area_wall_left + 1) {
          this.is_plugged_in = false;
        }
      }
    }

    // function to prevent plug from exceeding its upper Y boundry
    this.check_hit_floor = function () {
      var boundry = this.play_area_floor - this.plug_element.attr("height");
      this.plug_y = this.constrain_upper(this.plug_y, boundry)
    }

    // function to prevent plug from exceeding its lower Y boundry
    this.check_hit_ceil = function () {
      this.plug_y = this.constrain_lower(this.plug_y, this.play_area_ceil)
    }

    // function to prevent plug from exceeding its lower X boundry
    this.check_hit_wall_left = function() {
      this.plug_x = this.constrain_lower(this.plug_x, this.play_area_wall_left)
      
    }

    // function to prevent plug from exceeding its lower X boundry
    this.check_hit_socket = function() {
      this.plug_x = this.constrain_lower(this.plug_x, this.play_area_wall_left - 36)
      
    }

    // function to prevent plug from exceeding its lower X boundry
    this.check_hit_wall_right = function () {
      var boundry = this.play_area_wall_right - this.plug_element.attr("width");
      this.plug_x = this.constrain_upper(this.plug_x, boundry)
    }

    // constrains a value to a upper boundry
    this.constrain_upper = function (value, constraint) {
      if (value > constraint) {
        return constraint; 
      } else {
        return value
      }
    }

    // constrains a value to a lower boundry
    this.constrain_lower = function (value, constraint) {
      if (value < constraint) {
        return constraint; 
      } else {
        return value
      }
    }

    // calculate quadratic
    this.calc_curve = function (cord_start_x, cord_start_y, cord_end_x, cord_end_y, cord_length_max) {

      // mid-point of line
      var mpx = (cord_end_x + cord_start_x) * 0.5;
    	var mpy = (cord_end_y + cord_start_y) * 0.5;
    
    	// angle perpendicular to the horizontal
    	var theta = Math.atan2(0, cord_end_x - cord_start_x) - Math.PI / 2;
    
      // distance of control point from mid-point of line
      var length_of_x = Math.pow(cord_end_x - cord_start_x, 2);
      var length_of_y = Math.pow(cord_end_y - cord_start_y, 2);
      var length_of_cord = Math.sqrt(length_of_x + length_of_y);

      var cord_length_ratio = 1 - (length_of_cord / cord_length_max);

      var offset = -1 * ((cord_length_ratio * this.cord_offset_max) + this.cord_offset_min);
    
    	// location of control point
    	var c1x = mpx + offset * Math.cos(theta);
    	var c1y = mpy + offset * Math.sin(theta);
      c1y = this.constrain_upper(c1y, this.get_play_area_height());

      return "M" + cord_start_x + " " + cord_start_y + " Q " + c1x + " " + c1y + " " + cord_end_x + " " + cord_end_y;
    }

    // draw the shadow for the cord and plug
    this.draw_shadow = function (cord_start_x, cord_end_x) {
      this.cord_shadow_element.attr("x1", cord_start_x - this.cord_shadow_offset );
      this.cord_shadow_element.attr("x2", cord_end_x);
      this.cord_shadow_element.attr("y1", this.get_play_area_height());
      this.cord_shadow_element.attr("y2", this.get_play_area_height());
    }

    // update socket and its hitboxes x and y values
    this.update_socket_position = function () {
      this.socket_hitbox_x = this.play_area_wall_left;
      this.socket_hitbox_y = this.get_play_area_center_y() - this.socket_offset_from_center_y;

      this.socket_x = this.play_area_wall_left - this.socket_offset_from_wall_left_x;
      this.socket_y = this.get_play_area_center_y() - this.socket_offset_from_center_y;
    }

    //getters and setters
    this.set_is_holding = function (bool) {
      this.is_holding = bool;
    }

    this.set_is_hovering = function (bool) {
      this.is_hovering = bool;
    }

    this.get_is_holding = function () {
      return this.is_holding;
    }

    this.get_is_hovering = function () {
      return this.is_hovering;
    }

    this.get_is_plugged_in = function () {
      return this.is_plugged_in;
    }

    this.get_play_area_floor = function () {
      return this.play_area_floor;
    }

    this.get_play_area_center_x = function () {
      return (this.play_area_wall_left + this.play_area_wall_right)/2;
    }

    this.get_play_area_center_y = function () {
      return (this.play_area_floor + this.play_area_ceil)/2;
    }

    this.get_play_area_height = function () {
      return this.play_area_floor - this.play_area_ceil;
    }
  }

  // create a plug object
  var plug = new plug_object(55, 25,'plug', "cord_svg", "cord", "cord_shadow", 0, 0, 0, 0);

  // update the boundries of where the plug can exist
  plug.update_play_area();
  plug.update_socket_position();
  plug.move_plug(plug.get_play_area_center_x(), plug.get_play_area_floor());

  // when the mosue cursor is over the plug
  plug.plug_element.mouseover( function() {
    plug.set_is_hovering(true);
  });

  // when the mosue cursor is no longer over the plug
  plug.plug_element.mouseout(function() {
    plug.set_is_hovering(false);
  });

  // when the mouse moves
  window.addEventListener('mousemove', (event) => {
    if (plug.get_is_holding()) {
      plug.move_plug(event.clientX, event.clientY);
    }
  });

 // when the left mouse button is pressed
 window.addEventListener('mousedown', (event) => {
    if (plug.get_is_hovering()) {
      plug.set_is_holding(true);
    }
  });

  // when the left mouse button is let go
  window.addEventListener('mouseup', (event) => {
    if (plug.get_is_holding()) {
      plug.set_is_holding(false);
    }
  });

  // on window resize, update the plug position and the bounding box where the plug can exist
  $( window ).resize(function() {
    plug.update_play_area();
    plug.update_socket_position();
    plug.move_plug(plug.plug_x, plug.plug_y);
  });

</script>

